<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meossg.mall.model.dao.AdminMapper">

    <select id="verifyLogin" resultType="AdminDTO">
        SELECT
        A.ID,
        A.NAME,
        A.ASSOCIATION,
        A.PASSWORD
        FROM ADMIN A
        WHERE
        ASSOCIATION = "쇼핑몰"
        AND A.ID = #{ id }
        AND A.PASSWORD = #{ password }
    </select>

    <select id="selectAllMember" resultType="MemberDTO">
        SELECT
        A.ID,
        A.NAME,
        A.PHONE,
        A.ADDRESS,
        A.PASSWORD
        FROM MEMBER A
        ORDER BY ID
    </select>

    <select id="selectMemberByName" resultType="MemberDTO">
        SELECT
        A.ID,
        A.NAME,
        A.PHONE,
        A.ADDRESS,
        A.PASSWORD
        FROM MEMBER A
        WHERE A.NAME LIKE #{ name }
        ORDER BY A.NAME
    </select>

    <update id="updateMemberInfo">
        UPDATE member
        SET PHONE = #{ phone },
            ADDRESS = #{ address }
        WHERE NAME = #{ name }
    </update>
</mapper>