<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meossg.mall.model.dao.ProductMapper">

    <insert id="addProduct" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        PRODUCT
        VALUES (
        null, #{name}, #{price}, #{size}, #{color}, #{availability}
        )
    </insert>

    <update id="modifyProduct">
        UPDATE
        PRODUCT
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">
                NAME = #{name},
            </if>
            <if test="price != null and price gt 0">
                PRICE = #{price},
            </if>
            <if test="size != null and size != ''">
                SIZE = #{size},
            </if>
            <if test="color != null and color != ''">
                COLOR = #{color},
            </if>
            <if test="availability != null and availability != ''">
                AVAILABILITY = #{availability}
            </if>
        </trim>
        where
        id = #{id}
    </update>

    <select id="checkProductExists" resultType="ProductDTO">
        SELECT
        *
        FROM PRODUCT
        WHERE ID = #{ id }
    </select>

    <insert id="placingOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        PLACING_ORDER (PRODUCT_ID, COUNT, ORDER_DATE, INWAREHOUSEYN)
        VALUES (
        #{id}, #{count}, NOW(), 'N'
        )
    </insert>

    <select id="getAllStockList" resultType="StockDTO">
        SELECT
        P.ID 'id',
        P.NAME 'name',
        if(S.COUNT IS NULL, 0, S.COUNT) 'count'
        FROM
        PRODUCT P
        LEFT JOIN STOCK S
        ON
        P.ID = S.PRODUCT_ID;
    </select>

    <select id="selectAllProducts" resultType="ProductDTO">
        SELECT
            A.ID,
            A.NAME,
            A.PRICE,
            A.SIZE,
            A.COLOR,
            A.AVAILABILITY
        FROM PRODUCT A
    </select>

    <select id="selectAllPlacingOrder" resultType="MallPlacingOrderDTO">
        SELECT * FROM PLACING_ORDER
    </select>
</mapper>