<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meossg.member.model.dao.MemberMapper">

    <insert id="signUp">
        INSERT INTO MEMBER
        VALUES(#{id},#{name},#{phone},#{address},#{password})
    </insert>

    <select id="userValidCheck" resultType="UserDTO">
        SELECT ID, NAME, PHONE, ADDRESS, PASSWORD FROM MEMBER WHERE ID = #{id} AND PASSWORD = #{password}
    </select>

    <select id="personalInquiry" resultType="UserDTO">
        SELECT * FROM MEMBER WHERE ID = #{id}
    </select>

    <update id="modifyInfo" parameterType="UserDTO">
        UPDATE MEMBER
        SET PHONE = #{ phone }, ADDRESS = #{ address } , PASSWORD = #{ password } WHERE ID = #{ id }
    </update>

    <select id="selectAllProducts" resultType="ItemDTO">
        SELECT
        ID,
        NAME,
        PRICE,
        SIZE,
        COLOR,
        AVAILABILITY
        FROM PRODUCT
    </select>

    <insert id="buy">
        INSERT INTO MEMBER_ORDER (MEMBER_ID)
        VALUES(
        #{memberId}
        );

        INSERT INTO ORDER_LIST
        VALUES(
        (SELECT MAX(ID) FROM MEMBER_ORDER),
        (SELECT ID FROM PRODUCT WHERE NAME = #{productName}),
        #{count}
        )
    </insert>

    <select id="purchased" resultType="OrderPurchasedDTO">
        SELECT
        MO.ID 'orderId',
        P.NAME 'productName',
        OL.COUNT,
        IF(ORDER_APPROVEYN='Y', IF(DELIVERYN='Y', '배송완료', '배송대기'), '승인대기중') 'ORDER_STATUS'
        FROM MEMBER_ORDER MO
        LEFT JOIN ORDER_LIST OL
        ON MO.ID = OL.ORDER_ID
        LEFT JOIN PRODUCT P
        ON OL.PRODUCT_ID = P.ID
        WHERE MO.MEMBER_ID = #{memberId}
    </select>

    <select id="selectProductName" parameterType="String" resultType="ItemDTO">
        SELECT
        *
        FROM PRODUCT
        WHERE NAME=#{name}
    </select>

    <delete id="cancelOrder" parameterType="_int">
        DELETE
        FROM MEMBER_ORDER
        WHERE ID = #{ id }
    </delete>

    <select id="getDeliveryStatus" parameterType="_int" resultType="String">
        SELECT
        DELIVERYN
        FROM MEMBER_ORDER
        WHERE ID = #{id}
    </select>
</mapper>