<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meossg.warehouse.model.mapper.WarehouseMapper">

    <select id="getAllInWarehouseList" resultType="InWarehouseDTO">

        SELECT
        I.ID 'id',
        I.PRODUCT_ID 'productId',
        I.IN_DATE 'InDate'

        FROM
        INWAREHOUSE I



    </select>

</mapper>

